<form>

    <div class="form-group row">
        <label for="firstname" class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-10">
            {{input value=model.firstname type='text' id='firstname' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <label for="lastname" class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-10">
            {{input value=model.lastname type='text' id='lastname' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <label for="admin" class="col-sm-2 col-form-label">Admin:</label>
        <div class="col-sm-10">
            {{#x-select value=model.admin class="custom-select" action="selectAdmin" as |xs|}}
                {{#xs.option value=true}}Yes{{/xs.option}}
                {{#xs.option value=false}}No{{/xs.option}}
            {{/x-select}}
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            {{input value=model.email type='email' id='email' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            {{textarea value=model.description id='description' class='form-control'}}
        </div>
    </div>

    {{partial 'shared/button-group'}}

</form>
