<h2>Notes: {{model.length}}</h2>

{{#if model.length}}
  <table class="table table-striped table-condensed table-bordered">
    <thead>
      <tr>
        <th> Title </th>
        <th> Author </th>
        <th colspan="3" style="text-align:center"> {{#link-to "notes.new" class="btn btn-success" }}{{fa-icon 'plus'}} New Note{{/link-to}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |note|}}
        <tr>
          <td> {{note.title}} </td>
          <td> {{note.user.fullname}} </td>
          <td> {{#link-to "notes.edit" note title='Edit note'}}{{fa-icon 'edit'}}{{/link-to}} </td>
          <td> {{#link-to "notes.show" note title='Show note'}}{{fa-icon 'eye'}}{{/link-to}} </td>
          <td> <a href="#" {{action "remove" note}} title="Delete note">{{fa-icon 'trash'}}</a> </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No notes found
  </p>
{{/if}}
