<h2>Show Note</h2>

<form>

    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title:</label>
        <div class="col-sm-10">
            {{input value=model.title type='text' id='title' readonly='readonly' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <label for="contents" class="col-sm-2 col-form-label">Contents:</label>
        <div class="col-sm-10">
            {{textarea value=model.contents id='contents' readonly='readonly' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <label for="author" class="col-sm-2 col-form-label">Author:</label>
        <div class="col-sm-10">
            {{input value=model.user.fullname type='text' id='user' readonly='readonly' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <label for="created" class="col-sm-2 col-form-label">Created:</label>
        <div class="col-sm-10">
            {{input value=model.created type='text' id='created' readonly='readonly' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <label for="updated" class="col-sm-2 col-form-label">Updated:</label>
        <div class="col-sm-10">
            {{input value=model.updated type='text' id='updated' readonly='readonly' class='form-control'}}
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            {{#link-to 'notes' class='btn btn-success'}}{{fa-icon 'arrow-left'}} Back {{/link-to}}
        </div>
    </div>
</form>
