<h1>{{fa-icon 'upload'}} Import</h1>
<p class="lead">
    This is where you can import the geolocation data.
</p>

<hr/>

{{#if (eq status 'waiting')}}
    <p>{{request}}</p>
    <p><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></p>
    <p>Waiting ...</p>
{{else if (eq status 'success')}}
    <p class="text-success"><strong>Success!</strong></p>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped ">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>File name</td><td> : </td><td><strong>{{file_name}}</strong></td>
                    </tr>
                    <tr>
                        <td>Request</td><td> : </td><td>{{request}}</td>
                    </tr>
                    <tr>
                        <td>Upload dir</td><td> : </td><td>{{upload_dir}}</td>
                    </tr>
                    <tr>
                        <td>Max lines</td><td> : </td><td>{{if max_lines max_lines 'No limit'}}</td>
                    </tr>
                    <tr>
                        <td>Elapsed time</td><td> : </td><td>{{elapsed}} msecs</td>
                    </tr>
                    <tr>
                        <td>Processed</td><td> : </td><td>{{data.import_data.records.total}} lines</td>
                    </tr>
                    <tr>
                        <td>OK</td><td> : </td><td>{{data.import_data.records.ok}}</td>
                    </tr>
                    <tr>
                        <td>NOK</td><td> : </td><td>{{data.import_data.records.nok}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-success" {{action 'retry'}}>Try again</button>
    {{#if data.import_data.records.errors.length}}
        <div class="row" style="margin-top:20px">
            <div class="col-md-12">
                <p><strong>Errors</strong></p>
                <table class="table table-condensed table-striped ">
                    <thead>
                    <tr>
                        <th>Line</th>
                        <th>Values</th>
                        <th>Messages</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each data.import_data.records.errors as |error|}}
                            <tr>
                                <td>{{error.line}}</td>
                                <td>{{error.values}}</td>
                                <td>{{put-messages error.messages}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/if}}
{{else if (eq status 'error')}}
    <p class="text-danger"><strong>Oops!</strong></p>
    <p>Oops!</p>
    {{#each data.responseJSON.errors as |error|}}
        <p>{{error}}</p>
    {{/each}}
    <button class="btn btn-success" {{action 'retry'}}>Try again</button>
{{else}}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="form-group row">
                    <label for="file_name" class="col-2 col-form-label">File name :</label>
                    <div class="col-10">
                        {{input class="form-control" id="file_name" value=file_name}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="upload_dir" class="col-2 col-form-label">Upload dir :</label>
                    <div class="col-10">
                        {{input class="form-control" id="upload_dir" value=upload_dir}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="max_lines" class="col-2 col-form-label">Max lines :</label>
                    <div class="col-10">
                        {{input class="form-control" id="max_lines" value=max_lines placeholder="Leave blank for no limit"}}
                    </div>
                </div>

                <button class="btn btn-success{{if enableSubmit '' ' disabled'}}" {{action 'submit'}}>Import!</button>
            </form>
        </div>
    </div>
{{/if}}
