<h1>{{fa-icon 'upload'}} Import</h1>
<p class="lead">
    This is where you can import the geolocation data.
</p>

<hr/>

{{#if (eq status 'waiting')}}
    <p>{{request}}</p>
    <p><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></p>
    <p>Waiting ...</p>
{{else if (eq status 'success')}}
    <div class="alert alert-success"><strong>Success!</strong></div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped ">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Request</td><td> : </td><td>{{request}}</td>
                    </tr>
                    <tr>
                        <td>File name</td><td> : </td><td>{{data.file_name}}</td>
                    </tr>
                    <tr>
                        <td>Upload dir</td><td> : </td><td>{{data.upload_dir}}</td>
                    </tr>
                    <tr>
                        <td>Allow blank</td><td> : </td><td>{{if (eq data.allow_blank 'true') 'Yes' 'No'}}</td>
                    </tr>
                    <tr>
                        <td>Delete all</td><td> : </td><td>{{if (eq data.delete_all 'true') 'Yes' 'No'}}</td>
                    </tr>
                    <tr>
                        <td>Max lines</td><td> : </td><td>{{if max_lines max_lines 'No limit'}}</td>
                    </tr>
                    <tr>
                        <td>Processed</td><td> : </td><td>{{data.records.total}} lines</td>
                    </tr>
                    <tr>
                        <td>OK</td><td> : </td><td>{{data.records.ok}}</td>
                    </tr>
                    <tr>
                        <td>NOK</td><td> : </td><td>{{data.records.nok}}</td>
                    </tr>
                    <tr>
                        <td>Elapsed time</td><td> : </td><td>{{data.records.stopwatch.elapsed}} msecs</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-success" {{action 'retry'}}>Try again</button>
    {{#if data.records.errors.length}}
        <div class="row" style="margin-top:20px">
            <div class="col-md-12">
                <div class="alert alert-danger"><strong>Rejected records</strong></div>
                <table class="table table-condensed table-striped ">
                    <thead>
                    <tr>
                        <th>Line</th>
                        <th>Record</th>
                        <th>Reason</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each data.records.errors as |error|}}
                            <tr>
                                <td>{{error.line}}</td>
                                <td>{{error.values}}</td>
                                <td>{{put-messages error.messages}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/if}}
{{else if (eq status 'error')}}
    <div class="alert alert-danger"><strong>Oops!</strong></div>
    {{#each data.responseJSON.errors as |error|}}
        <p>{{error}}</p>
    {{/each}}
    <button class="btn btn-success" {{action 'retry'}}>Try again</button>
{{else}}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="form-group row">
                    <label for="file_name" class="col-2 col-form-label">File name:</label>
                    <div class="col-10">
                        {{input class="form-control" id="file_name" value=file_name}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="upload_dir" class="col-2 col-form-label">Upload dir:</label>
                    <div class="col-10">
                        {{input class="form-control" id="upload_dir" value=upload_dir}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="allow_blank" class="col-2 col-form-label">Allow blank:</label>
                    <div class="col-10">
                        {{#x-select id="allow_blank" value=allow_blank class="form-control" action=(action "selectAllowBlank") as |xs|}}
                            {{#xs.option value=true}}Yes{{/xs.option}}
                            {{#xs.option value=false}}No{{/xs.option}}
                        {{/x-select}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="delete_all" class="col-2 col-form-label">Delete all:</label>
                    <div class="col-10">
                        {{#x-select id="delete_all" value=delete_all class="form-control" action=(action "selectDeleteAll") as |xs|}}
                            {{#xs.option value=true}}Yes{{/xs.option}}
                            {{#xs.option value=false}}No{{/xs.option}}
                        {{/x-select}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="max_lines" class="col-2 col-form-label">Max lines:</label>
                    <div class="col-10">
                        {{input class="form-control" id="max_lines" value=max_lines placeholder="Leave blank for no limit"}}
                    </div>
                </div>

                <button class="btn btn-success{{if enableSubmit '' ' disabled'}}" {{action 'submit'}}>Import!</button>
            </form>
        </div>
    </div>
{{/if}}
